<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Gus Components!
  </h1>
</div>
<h2>Following terás algunos componentes básicos: </h2>

Campo com label <br> <br>

<my-input label = "Inserir label" ></my-input>

<br> Código exemplo: < my-input label = "Inserir label">< /my-input>

<br> <br> Botão Laranja com label<br>
<my-button-orange label = "INSERIR LABEL"></my-button-orange>

<br> <br> Código exemplo: < my-button-orange label = "INSERIR LABEL">< /my-button-orange>

<br> <br> Botão Black/White com label<br>
<my-button-bw label = "INSERIR LABEL"></my-button-bw>


<br> <br> Código exemplo: < my-button-bw label = "INSERIR LABEL">< /my-button-bw>